* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
div {
    font-size: 10rem;
    position: absolute;
    background-color: bisque;
}
/* .master {
    z-index: 1;
}
.platzi {
    z-index: 2;
} */
.red {
    width: 2rem;
    height: 10rem;
    background-color: red;
    z-index: 5;
}
.blue {
    width: 3rem;
    height: 10rem;
    background-color: blue;
    z-index: 4;
}
.yellow {
    width: 2rem;
    height: 10rem;
    background-color: yellow;
    z-index: 6;
}